@import url('https://fonts.googleapis.com/css2?family=Bahiana&display=swap');

@import 'tailwindcss';
@import 'tw-animate-css';

@keyframes alarm {
  0% {
    transform: rotate(-0.05turn);
  }
  50% {
    transform: rotate(0.05turn);
  }
  100% {
    transform: rotate(-0.05turn);
  }
}

@keyframes fck {
  0%,
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}
@keyframes leftdoor {
  to {
    transform: translateX(-50%);
  }
}
@keyframes rightdoor {
  to {
    transform: translateX(50%);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg) translateX(5%) rotate(0deg);
    animation-delay: var(--tw-animation-delay, 0ms);
  }

  100% {
    transform: rotate(-360deg) translateX(5%) rotate(360deg);
    animation-delay: var(--tw-animation-delay, 0ms);
  }
}

@theme {
  --font-bahiana: 'Bahiana', sans-serif;

  --animate-alarm: alarm linear 0.5s infinite;
  --animate-wiggle: wiggle linear 10s infinite;

  --color-plate-background: #f9e9e9;
}

@layer base {
  * {
    @apply scroll-smooth;
  }

  img {
    @apply object-contain;
  }

  html,
  body {
    @apply bg-plate-background h-full;
  }
}
